.DS_Store
# Ignore Swift build folders and compiler archives
.build/
*.tar.gz
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Vapor specific exclusions
Images/
Public/Sorted/
*.sqlite
*.sqlite-shm
*.sqlite-wal
.env
Logs/
